:root {
  --nav-height: 50px;
  --light-background: rgba(255, 255, 255, 0.9);
  --light-font-color: rgba(0, 0, 0, 0.4);
  --background: rgba(255, 247, 250, 0.9);
  --font-color: rgba(0, 0, 0, 0.65);
}

@media (prefers-color-scheme: dark) {
  :root {
    --light-background: rgba(0, 0, 0, 0.8);
    --light-font-color: white;
    --background: rgba(0, 0, 0, 0.8);
    --font-color: white;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "appleSF";
  color: var(--font-color);
  background: var(--background)
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "appleSF";
  src: url("/fonts/sfpro.woff2") format("woff2");
}