.main {
  /* justify-content: space-between; */
  /* align-items: start; */
  padding: 2rem;
  padding-top: 64px;
  min-height: 100vh;
}

.galleryContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap:16px;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
