.container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 10px;
}
.title {
  color: black;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  font-size: 50px;
  position: absolute;
  z-index: 1;
}
